.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__vector {
    width: 173px;
    height: 33px;
    margin: 45px 0 41px 0;
}
.header__line {
    opacity: 0.7;
    flex-grow: 1;
    margin: 0;
    height: 0;
    border-bottom: 1px solid #545454;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__info {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.header__route-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    color: #a9a9a9;
    text-decoration: none;
    padding-right: 15px;
    align-self: center;
    transition: 0.2s;
}
.header__route-link:hover {
    opacity: 0.6;
}

.header__user {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #ffffff;
    margin: 0;
}

.header__burger {
    display: none;
}
.header__close-button {
    display: none;
}

@media screen and (max-width: 900px) {
    .header__vector {
        margin-left: 1%;
        margin-bottom: 15px;
        width: 350px;
        height: 45px;
    }
}

@media screen and (max-width: 700px) {
    .header__close-button {
        display: inline-block;
        background-image: url(../images/closeIcon.svg);
        background-color: transparent;
        width: 30px;
        height: 30px;
        background-position: center;
        margin-right: 15px;
        cursor: pointer;
        transition: 0.3s;
        border: none;
    }
    .header__close-button:hover {
        opacity: 0.6;
    }
    .header_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
    }
    .header__top_mobile {
        flex-direction: column-reverse;
        transition: 0.3s;
    }
    .header__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 24px;
        border-bottom: 1px solid #545454;
        padding: 5%;
        row-gap: 18px;
        visibility: hidden;
        opacity: 0;
        display: none;
        transition: 0.3s;
    }
    .header__route-link {
        padding: 0;
        align-self: center;
    }
    .header__burger {
        background-image: url(../images/menu.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        border: none;
        align-self: center;
        margin-right: 15px;
        cursor: pointer;
        display: block;
    }
    .header__burger_open {
        order: -1;
    }
    .header__show {
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
    }
    .header__info_show {
        display: flex;
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }
}
@media screen and (min-width: 426px) and (max-width: 500px) {
    .header__vector {
        align-self: center;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 425px) {
    .header__vector {
        width: 126px;
        height: 24px;
        margin: 28px 0 32px 27px;
    }
}
